<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tinytongtong.androidstudy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".framework.chapter901.TransactLargeListBitmapActivity"></activity>
        <activity android:name=".framework.chapter901.TransactionTooLargeExceptionResultActivity" />
        <activity android:name=".framework.chapter901.TransactionTooLargeExceptionActivity" />
        <activity android:name=".dialog.DialogWithApplicationCtxActivity" />
        <activity android:name=".jsonparse.JsonParseTestActivity" />
        <activity android:name=".aidl.BinderTestActivity" />
        <activity android:name=".validateui.ValidateUiInSubThreadActivity" />
        <activity
            android:name=".anim.ActivityAnimActivity"
            android:label="Activity动画"
            android:theme="@style/TopDownAnim" />
        <activity android:name=".bitmap.compress.BitmapCompressActivity" />
        <activity
            android:name=".bitmap.type.BitmapTypeActivity"
            android:label="获取网络图片格式" />
        <activity
            android:name=".bitmap.options.BitmapFactoryOptionsActivity"
            android:label="bitmap采样率压缩图片" />
        <activity
            android:name=".bitmap.BitmapEntryActivity"
            android:label="bitmap入口" />
        <activity
            android:name=".bitmap.large.SubsamplingScaleImageViewActivity"
            android:label="bitmap加载超大图" />
        <activity android:name=".draw.CustomViewGroupActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>